
body, html {
	margin	:	0	;
	padding	:	0	;
	background	:	#eef	;
}

.radar {
	margin	:	0	;
	padding	:	0	;
}
.radar-background {
	fill	:	#fff	;
}

.ui-full {
	width	:	100%	;
	height	:	100%	;
}
.ui-bottomLeft {
	position	:	absolute	;
	left	:	0	;
	bottom	:	0	;
}

.button {
	background	:	#dde	;
	border	:	solid	;
	border-left-color	:	#ccd	;
	border-top-color	:	#ccd	;
	border-right-color	:	#eef	;
	border-bottom-color	:	#eef	;
	font-size	:	xx-large	;
}


